h1{
    margin: 16px auto;
    text-align: center;
}
html{
    box-sizing: border-box;
}
* ,
*::before,
*::after{ box-sizing: inherit;}
body{
    background-color: #F1F8E9;
    color:#37474F;
}
.teal {
    background-color: #00838F;
    padding: 16px;
}
.navigation a {
    color:#37474F;
    text-decoration: none;
}
.navigation {
    list-style-type: none;
    display:flex;
    justify-content: center;
}
li {
    display: inline-block;
    padding: 10px;
}
.navigation a:hover{
    color:#81C784;
    transition: 300ms;
}


