h1 , h2 , h3{
    margin: 16px;
    text-align: center;
    padding : 10px;
}
*{
    padding: 0px;
    margin: 0px;
    font-family: Arial, Helvetica, sans-serif;
}
html{
    box-sizing: border-box;
}
* ,
*::before,
*::after{ box-sizing: inherit;}
body{
    background-color: #c4daab;
    color:#37474F;
}
.teal {
    background-color: #00838F;
    padding: 16px;
}
.navigation a {
    color:#37474F;
    text-decoration: none;
}
.navigation {
    list-style-type: none;
    display:flex;
    justify-content: center;
}
.list-item {
    display: inline-block;
    padding: 10px;
}
.navigation a:hover{
    color:#81C784;
    transition: 300ms;
    transition-property: all;
    text-decoration: underline;
}


